.searx-navbar {
  background: #29314D;
  height: 2.3rem;
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding: 0.5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.searx-navbar a,
.searx-navbar a:hover {
  margin-right: 2rem;
  color: white;
  text-decoration: none;
}
.searx-navbar .instance a {
  color: #01D7D4;
  margin-left: 2rem;
}
#main-logo {
  margin-top: 20vh;
  margin-bottom: 25px;
}
#main-logo > img {
  max-width: 350px;
  width: 80%;
}
* {
  border-radius: 0 !important;
}
html {
  position: relative;
  min-height: 100%;
  color: #29314D;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
  background-color: white;
}
body a {
  color: #0088CC;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
  color: #999;
}
input[type=checkbox]:checked + .label_hide_if_checked,
input[type=checkbox]:checked + .label_hide_if_not_checked + .label_hide_if_checked {
  display: none;
}
input[type=checkbox]:not(:checked) + .label_hide_if_not_checked,
input[type=checkbox]:not(:checked) + .label_hide_if_checked + .label_hide_if_not_checked {
  display: none;
}
.onoff-checkbox {
  width: 15%;
}
.onoffswitch {
  position: relative;
  width: 110px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  opacity: 0;
  position: absolute;
}
.onoffswitch-checkbox:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #2c0039;
  border: 1px solid #ccc;
  border-radius: 0px;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #2c0039FFF !important;
  border-radius: 50px !important;
}
.onoffswitch-inner {
  display: block;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 40px;
  font-size: 20px;
  box-sizing: border-box;
  content: "";
  background-color: #EEEEEE;
}
.onoffswitch-switch {
  display: block;
  width: 37px;
  background-color: #01D7D4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  border: 2px solid #2c0039FFF;
  border-radius: 50px !important;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-right: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 71px;
  background-color: #A1A1A1;
}
.onoffswitch-checkbox:focus + .onoffswitch-label .onoffswitch-switch {
  border: 3px solid #444444;
}
.result_header {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 16px;
}
.result_header .favicon {
  margin-bottom: -3px;
}
.result_header a {
  color: #29314D;
  text-decoration: none;
}
.result_header a:hover {
  color: #0088CC;
}
.result_header a:visited {
  color: #684898;
}
.result_header a .highlight {
  background-color: #F6F9FA;
}
.result-content,
.result-format,
.result-source {
  margin-top: 2px;
  margin-bottom: 0;
  word-wrap: break-word;
  color: #666;
  font-size: 13px;
}
.result .highlight {
  font-weight: bold;
}
.result-source {
  font-size: 10px;
  float: left;
}
.result-format {
  font-size: 10px;
  float: right;
}
.result-abstract {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
.external-link {
  color: #068922;
  font-size: 12px;
  margin-bottom: 15px;
}
.external-link a {
  margin-right: 3px;
}
.result-default,
.result-code,
.result-torrent,
.result-videos,
.result-map {
  clear: both;
  padding: 0.5em 4px;
}
.result-default:hover,
.result-code:hover,
.result-torrent:hover,
.result-videos:hover,
.result-map:hover {
  background-color: #F6F9FA;
}
.result-images {
  float: left !important;
  margin: 0;
  padding: 0;
}
.result-images a {
  display: block;
  width: 100%;
  background-size: cover;
}
.result-images a .img-thumbnail {
  border: none !important;
  padding: 0;
}
.result-images a:hover,
.result-images a:focus {
  outline: 0;
}
.result-images a:hover .img-thumbnail,
.result-images a:focus .img-thumbnail {
  box-shadow: 5px 5px 15px 0px black;
}
.result-images.js a .img-thumbnail {
  max-height: inherit;
  min-height: inherit;
}
.result-images:not(.js) {
  width: 25%;
  padding: 3px 13px 13px 3px;
}
.result-images:not(.js) a .img-thumbnail {
  margin: 0;
  max-height: 128px;
  min-height: 128px;
}
.img-thumbnail {
  margin: 5px;
  max-height: 128px;
  min-height: 128px;
}
.result-videos {
  clear: both;
}
.result-videos hr {
  margin: 5px 0 15px 0;
}
.result-videos .collapse {
  width: 100%;
}
.result-videos .in {
  margin-bottom: 8px;
}
.result-torrent {
  clear: both;
}
.result-torrent b {
  margin-right: 5px;
  margin-left: 5px;
}
.result-torrent .seeders {
  color: #2ecc71;
}
.result-torrent .leechers {
  color: #F35E77;
}
.result-metadata {
  clear: both;
  margin: 1em;
}
.result-metadata td {
  padding-right: 1em;
  color: #A4A4A4;
}
.result-metadata td:first-of-type {
  color: #666;
}
.result-map {
  clear: both;
}
.result-map .img-thumbnail {
  float: right;
  width: auto;
  height: 120px;
  border: 0;
  background: inherit;
}
.result-map .img-type {
  width: 20px;
  max-height: 20px;
}
.result-map .result-map-details {
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 0 0.35rem;
}
.result-map .result-map-details th {
  font-weight: inherit;
  width: 20rem;
  vertical-align: top;
}
.result-map .result-map-details td {
  vertical-align: top;
}
.result-code {
  clear: both;
}
.result-code .code-fork,
.result-code .code-fork a {
  color: #666;
}
.suggestion_item {
  margin: 2px 5px;
  max-width: 100%;
}
.suggestion_item .btn {
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}
.result_download {
  margin-right: 5px;
}
#pagination {
  margin-top: 30px;
  padding-bottom: 60px;
}
.label-default {
  color: #666;
  background: transparent;
}
.result .text-muted small {
  word-wrap: break-word;
}
.modal-wrapper {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-wrapper {
  background-clip: padding-box;
  background-color: #2c0039;
  border: 1px solid rgba(123, 0, 210, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0 none;
  position: relative;
}
@media screen and (max-width: 75em) {
  .img-thumbnail {
    object-fit: cover;
  }
}
.infobox .panel-heading {
  background-color: #F6F9FA;
}
.infobox .panel-heading .panel-title {
  font-weight: 700;
}
.infobox .header_url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.infobox p {
  font-family: "DejaVu Serif", Georgia, Cambria, "Times New Roman", Times, serif !important;
  font-style: italic;
}
.infobox img {
  max-height: "250px";
}
.infobox .btn {
  background-color: #007AB8;
  border: none;
}
.infobox .btn a {
  color: white;
  margin: 5px;
}
.infobox .infobox_part {
  margin-bottom: 20px;
  word-wrap: break-word;
  table-layout: fixed;
}
.infobox .infobox_part:last-child {
  margin-bottom: 0;
}
.infobox .infobox_toggle {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  cursor: pointer;
}
.infobox .infobox_toggle:hover {
  background: #DDD;
}
.infobox .infobox_checkbox ~ .infobox_body {
  max-height: 300px;
  overflow: hidden;
}
.infobox .infobox_checkbox:checked ~ .infobox_body {
  max-height: none;
}
.infobox .infobox_checkbox ~ .infobox_toggle .infobox_label_down {
  display: block;
}
.infobox .infobox_checkbox ~ .infobox_toggle .infobox_label_up {
  display: none;
}
.infobox .infobox_checkbox:checked ~ .infobox_toggle .infobox_label_up {
  display: block;
}
.infobox .infobox_checkbox:checked ~ .infobox_toggle .infobox_label_down {
  display: none;
}
.infobox .infobox_checkbox ~ .infobox_body img.infobox_part {
  display: none;
}
.infobox .infobox_checkbox:checked ~ .infobox_body img.infobox_part {
  display: block;
}
.search_categories,
#categories {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: stretch;
}
.search_categories a,
#categories a {
  height: 3rem;
  flex-grow: 1;
  flex-basis: auto;
  border: #DDD 1px solid;
  border-right: none;
  color: #666;
  padding-bottom: 0.3rem;
  padding-top: 0.1rem;
  text-align: center;
  min-width: 50px;
}
.search_categories label,
#categories label,
.search_categories .input-group-addon,
#categories .input-group-addon {
  flex-grow: 1;
  flex-basis: auto;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: white;
  border: none;
  border-right: none;
  color: #666;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
.search_categories a:last-child,
#categories a:last-child,
.search_categories .input-group-addon:last-child,
#categories .input-group-addon:last-child {
  border-right: #DDD 1px solid;
}
.search_categories input[type="checkbox"]:checked + a,
#categories input[type="checkbox"]:checked + a {
  color: #29314D;
  font-weight: bold;
  border-bottom: #01D7D4 5px solid;
}
#main-logo {
  margin-top: 10vh;
  margin-bottom: 25px;
}
#main-logo > img {
  max-width: 350px;
  width: 80%;
}
#q {
  box-shadow: none;
  border-right: none;
  border-color: #888;
}
#search_form .input-group-btn .btn {
  border-color: #888;
}
#search_form .input-group-btn .btn:hover {
  background-color: #068922;
  color: white;
}
.custom-select,
.custom-select-rtl {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: white;
  border: #888 1px solid;
  color: #666;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAABFkAAARZAVnbJUkAAAAHdElNRQfgBxgLDwB20OFsAAAAbElEQVQY073OsQ3CMAAEwJMYwJGnsAehpoXJItltBkmcdZBYgIIiQoLglnz3ui+eP+bk5uneteTMZJa6OJuIqvYzSJoqwqBq8gdmTTW86/dghxAUq4xsVYT9laBYXCw93Aajh7GPEF23t4fkBYevGFTANkPRAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE2LTA3LTI0VDExOjU1OjU4KzAyOjAwRFqFOQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNi0wNy0yNFQxMToxNTowMCswMjowMP7RDgQAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC) 96% no-repeat;
  padding-right: 26px;
  text-overflow: ellipsis;
}
.custom-select-rtl {
  background-position-x: 4%;
}
.search-margin {
  margin-bottom: 0.6em;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.label-danger,
.btn-danger {
  background: #c9432f;
}
.label-success,
.btn-success {
  background: #068922;
}
select.form-control {
  border-color: #888 !important;
}
#advanced-search-container {
  display: none;
  text-align: left;
  margin-bottom: 1rem;
  clear: both;
}
#advanced-search-container label,
#advanced-search-container .input-group-addon {
  font-size: 1.2rem;
  font-weight: normal;
  background-color: white;
  border: #DDD 1px solid;
  border-right: none;
  color: #666;
  padding-bottom: 0.4rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
#advanced-search-container label:last-child,
#advanced-search-container .input-group-addon:last-child {
  border-right: #DDD 1px solid;
}
#advanced-search-container input[type="radio"] {
  display: none;
}
#advanced-search-container input[type="radio"]:checked + label {
  color: #29314D;
  font-weight: bold;
  border-bottom: #01D7D4 5px solid;
}
#check-advanced:focus + label {
  text-decoration: underline;
}
#check-advanced:checked ~ #advanced-search-container {
  display: block;
}
.advanced {
  padding: 0;
  margin-top: 0.3rem;
  text-align: right;
}
.advanced label,
.advanced select {
  cursor: pointer;
}
.cursor-text {
  cursor: text !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
pre,
code {
  font-family: 'Ubuntu Mono', 'Courier New', 'Lucida Console', monospace !important;
}
/*
   this file is generated automatically by searx_extra/update/update_pygments.py
   using pygments version 2.8.0
*/
.code-highlight .linenos {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin-right: 8px;
  text-align: right;
}
.code-highlight .linenos::selection {
  background: transparent;
  /* WebKit/Blink Browsers */
}
.code-highlight .linenos::-moz-selection {
  background: transparent;
  /* Gecko Browsers */
}
.code-highlight pre {
  line-height: 125%;
}
.code-highlight td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight td.linenos .special {
  color: #000000;
  background-color: #2c0039fc0;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight span.linenos.special {
  color: #000000;
  background-color: #2c0039fc0;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight .hll {
  background-color: #2c0039fcc;
}
.code-highlight {
  background: #282C34;
}
.code-highlight .c {
  color: #556366;
  font-style: italic;
}
/* Comment */
.code-highlight .err {
  border: 1px solid #ff0000;
}
/* Error */
.code-highlight .k {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword */
.code-highlight .o {
  color: #D19A66;
}
/* Operator */
.code-highlight .ch {
  color: #556366;
  font-style: italic;
}
/* Comment.Hashbang */
.code-highlight .cm {
  color: #556366;
  font-style: italic;
}
/* Comment.Multiline */
.code-highlight .cp {
  color: #BC7A00;
  font-style: italic;
}
/* Comment.Preproc */
.code-highlight .cpf {
  color: #556366;
  font-style: italic;
}
/* Comment.PreprocFile */
.code-highlight .c1 {
  color: #556366;
  font-style: italic;
}
/* Comment.Single */
.code-highlight .cs {
  color: #556366;
  font-style: italic;
}
/* Comment.Special */
.code-highlight .gd {
  color: #A00000;
}
/* Generic.Deleted */
.code-highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.code-highlight .gr {
  color: #FF0000;
}
/* Generic.Error */
.code-highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
.code-highlight .gi {
  color: #00A000;
}
/* Generic.Inserted */
.code-highlight .go {
  color: #888888;
}
/* Generic.Output */
.code-highlight .gp {
  color: #000080;
  font-weight: bold;
}
/* Generic.Prompt */
.code-highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.code-highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.code-highlight .gt {
  color: #0044DD;
}
/* Generic.Traceback */
.code-highlight .kc {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Constant */
.code-highlight .kd {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Declaration */
.code-highlight .kn {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Namespace */
.code-highlight .kp {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Pseudo */
.code-highlight .kr {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Reserved */
.code-highlight .kt {
  color: #D46C72;
  font-weight: bold;
}
/* Keyword.Type */
.code-highlight .m {
  color: #D19A66;
}
/* Literal.Number */
.code-highlight .s {
  color: #86C372;
}
/* Literal.String */
.code-highlight .na {
  color: #7D9029;
}
/* Name.Attribute */
.code-highlight .nb {
  color: #BE74D5;
}
/* Name.Builtin */
.code-highlight .nc {
  color: #61AFEF;
  font-weight: bold;
}
/* Name.Class */
.code-highlight .no {
  color: #D19A66;
}
/* Name.Constant */
.code-highlight .nd {
  color: #AA22FF;
}
/* Name.Decorator */
.code-highlight .ni {
  color: #999999;
  font-weight: bold;
}
/* Name.Entity */
.code-highlight .ne {
  color: #D2413A;
  font-weight: bold;
}
/* Name.Exception */
.code-highlight .nf {
  color: #61AFEF;
}
/* Name.Function */
.code-highlight .nl {
  color: #A0A000;
}
/* Name.Label */
.code-highlight .nn {
  color: #61AFEF;
  font-weight: bold;
}
/* Name.Namespace */
.code-highlight .nt {
  color: #BE74D5;
  font-weight: bold;
}
/* Name.Tag */
.code-highlight .nv {
  color: #DFC06F;
}
/* Name.Variable */
.code-highlight .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* Operator.Word */
.code-highlight .w {
  color: #D7DAE0;
}
/* Text.Whitespace */
.code-highlight .mb {
  color: #D19A66;
}
/* Literal.Number.Bin */
.code-highlight .mf {
  color: #D19A66;
}
/* Literal.Number.Float */
.code-highlight .mh {
  color: #D19A66;
}
/* Literal.Number.Hex */
.code-highlight .mi {
  color: #D19A66;
}
/* Literal.Number.Integer */
.code-highlight .mo {
  color: #D19A66;
}
/* Literal.Number.Oct */
.code-highlight .sa {
  color: #86C372;
}
/* Literal.String.Affix */
.code-highlight .sb {
  color: #86C372;
}
/* Literal.String.Backtick */
.code-highlight .sc {
  color: #86C372;
}
/* Literal.String.Char */
.code-highlight .dl {
  color: #86C372;
}
/* Literal.String.Delimiter */
.code-highlight .sd {
  color: #86C372;
  font-style: italic;
}
/* Literal.String.Doc */
.code-highlight .s2 {
  color: #86C372;
}
/* Literal.String.Double */
.code-highlight .se {
  color: #BB6622;
  font-weight: bold;
}
/* Literal.String.Escape */
.code-highlight .sh {
  color: #86C372;
}
/* Literal.String.Heredoc */
.code-highlight .si {
  color: #BB6688;
  font-weight: bold;
}
/* Literal.String.Interpol */
.code-highlight .sx {
  color: #BE74D5;
}
/* Literal.String.Other */
.code-highlight .sr {
  color: #BB6688;
}
/* Literal.String.Regex */
.code-highlight .s1 {
  color: #86C372;
}
/* Literal.String.Single */
.code-highlight .ss {
  color: #DFC06F;
}
/* Literal.String.Symbol */
.code-highlight .bp {
  color: #BE74D5;
}
/* Name.Builtin.Pseudo */
.code-highlight .fm {
  color: #61AFEF;
}
/* Name.Function.Magic */
.code-highlight .vc {
  color: #DFC06F;
}
/* Name.Variable.Class */
.code-highlight .vg {
  color: #DFC06F;
}
/* Name.Variable.Global */
.code-highlight .vi {
  color: #DFC06F;
}
/* Name.Variable.Instance */
.code-highlight .vm {
  color: #DFC06F;
}
/* Name.Variable.Magic */
.code-highlight .il {
  color: #D19A66;
}
/* Literal.Number.Integer.Long */
.code-highlight pre {
  margin-bottom: 25px;
  padding: 20px 10px;
  background-color: inherit;
  color: inherit;
  border: inherit;
  color: #D7DAE0;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  vertical-align: middle !important;
}
.nav-tabs.nav-justified {
  margin-bottom: 20px;
}
p {
  margin: 10px 0;
}
input.cursor-text {
  margin: 10px 0;
}
.engine-tooltip {
  display: none;
  position: absolute;
  padding: 0.5rem 1rem;
  margin: 0rem 0 0 2rem;
  border: 1px solid #ddd;
  background: white;
  font-size: 14px;
  font-weight: normal;
  z-index: 1000000;
}
th:hover .engine-tooltip,
.engine-tooltip:hover {
  display: inline-block;
}
